.content-wrapper {
    margin: 0 auto;
    padding: 25px 0px;
    max-width: 500px;
    min-width: 320px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    color: darkslateblue;
}
form,
form ul,
form li {
    width: 100%;
}
form ul {
    padding: 0;
}

form li {
    margin-top: 10px;
}
form li label {
    display: block;
    width: 100%;
    line-height: 1.5em;
    margin: 0;
}
form li input {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 1.5em;
    padding: 0 10px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 1rem;
}
form li input[type="file"] {
    display: block;
    width: unset;
    height: unset;
    padding: unset;
    border: unset;
    margin-top: 8px;
}

form li button {
    margin-top: 20px;
    padding: 12px;
    font-size: 1rem;
    appearance: none;
    background-color: transparent;
    border: 1px solid rgb(100, 100, 100);
    transition: background-color 0.2s ease;
}
form li button:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}
.notification {
    background-color: rgb(240, 240, 240);
}
